python -m pip install numpy
python -m pip install pandas
python -m pip install mediapipe
python -m pip install tensorflow
python -m pip install tensorflow-datasets
python -m pip install tensorflow-addons
