python -m pip install numpy
python -m pip install pandas
python -m pip install mediapipe
python -m pip install 'tensorflow>=2.11.0,<2.12.0'
python -m pip install tensorflow-datasets
python -m pip install tensorflow-addons
python -m pip install wandb
